html,body
  background #eee

// Optimize kerning of all text rendered
body, input, textarea, select, button
  text-rendering optimizeLegibility
  -webkit-font-smoothing antialiased !important

.b-tabs .tab-content
  overflow visible

section.tab-content
  background #fff
  padding 1rem
  border-right 1px solid #dbdbdb
  border-left 1px solid #dbdbdb
  border-bottom 1px solid #dbdbdb
.b-tabs .tabs
  margin-bottom 0

.margin-bottom
  margin-bottom 1rem
