main
  section.section
    .container.margin-bottom
      h1.title Dice
      hr
      h3.subtitle Battle Analysis Demo
    .container.content
      .field
        .label Player Damage
        b-input(type='text',v-model='playerDamageString')
      .field
        .label Enemy Damage
        b-input(type='text',v-model='enemyDamageString')
      .container.margin-bottom
        .button.is-primary(@click='reroll()') Reroll
      .container.margin-bottom(v-if='healthChart')
        highcharts(:options='healthChart')
      .container(v-if='damageChart')
        highcharts(:options='damageChart')
      b-loading
  footer.footer
    .container
      .content.has-text-centered
        p.
          #[strong dice] and #[strong ion-cloud] were written by 
          #[a(href='http://nathanielinman.com') Nathaniel Inman] of
          #[a(href='http://www.theoestudio.com') The OE Studio].
        p.
          Copyright © {{(new Date).getFullYear()}}
          #[a(href='http://www.theoestudio.com') The OE Studio]. All Rights Reserved.
